@page "/"

<PageTitle>Home</PageTitle>


    <div style="margin-top: 3px;" class=" pb-80">
        <div  style="border-radius: 15px;margin-right: 3px;margin-left: 3px;background-image: url(images/banner/Untitled\ design_prev_ui.png);background-size: 20px;" class="bg-menuDark header-style2 tf-container">
            <div class="d-flex justify-content-between align-items-center">
                <a class="box-account" href="user-info.html">
                    <img src="images/avt/prof.png" alt="img" class="avt">
                    <div class="info">
                        <p class="text-xsmall text-secondary">alizadeh_ai</p>
                        <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="mt-4">محمد حسین <img src="images/webp/Honeybee.webp" style="height: 30px ;width: 30px;" alt=""></h5>
                    </div>
                </a>
                <div class="d-flex align-items-center gap-8 ">
                    <a style="height:40px;width: 100px;font-size: 10px;background-color: #45AEF5;filter: opacity(70%);border-radius: 15px;" href="#notification" data-bs-toggle="modal" class="tf-btn   " >

                        Connect Wallet
                        
                    </a>
                   
                </div>
            </div>
           
            <div  class="pt-12 pb-12 mt-4">
                <h5 class="text-center "><span class="text-primary"></span>Your Balance:</h5>
                <h1 style="margin-bottom: 5px;" class=" text-center">$29,34 </h1>
                <div class="trade-box">
                    <div style="border: 3px solid #45AEF5;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(69, 174, 245, 0.295), 0 6px 20px 0 rgba(69, 174, 245, 0.19);background-image: url(images/banner/Firefly\ 20241016033807.png);background-repeat: no-repeat;background-position: center;font-weight: 900;" class=" accent-box bg-menuDark">
                        <div  class="text-small d-flex justify-content-between">
                            <p class="text-light">Weekly Prize</p>
                            <p class="d-flex align-items-center gap-20">
                                    <span style="font-size: small;"   class="d-flex align-items-center gap-4 text-light weekly">
                                        <i style="font-weight:bolder ;" class="icon-clock fs-24"></i>
                                        
                                             <span class="days how-countdown">01</span> :
                                            <span class="hours how-countdown">04</span> :
                                            <span class="minutes how-countdown">18</span> :
                                            <span class="seconds how-countdown">59</span> 
                                    </span>
                            </p>
                        </div>
                       
                        <div class="coin-item style-1 gap-8 mt-20">
                            <img src="images/webp/Party Popper.webp" style="height: 50px;width: 50px;" alt="img" class="img">
                            <div class="content">
                                <div class="title">
                                    <h3 class="mb-4 text-light"><a href="#" class="d-flex align-items-center text-light" >50 TON</a></h3>
                                    <span class="text-light">Take a Chance</span>
                                </div>
                                <div  class="box-price text-end">
                                    <a style="height:40px;width: 100px;font-size: 13px;background-color: #198754;border-radius: 10px;"  class="tf-btn" data-toggle="modal" data-target="#exampleModalCenter" >Participate</a>                               
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div style="border: 3px solid #45AEF5;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(69, 174, 245, 0.295), 0 6px 20px 0 rgba(69, 174, 245, 0.19);background-image: url(images/banner/Firefly\ 20241016035714\ -\ Copyte.png);background-repeat: no-repeat;background-position: center;font-weight:900;" class="accent-box bg-menuDark mt-8 ">
                        <div class="text-small d-flex justify-content-between">
                            <p class="text-light">Monthly Prize</p>
                            <span style="font-size: small;"   class="d-flex align-items-center gap-4 text-light monthly">
                                <i style="font-weight:bolder ;" class="icon-clock fs-24"></i>
                                     <span class="days how-countdown">01</span> :
                                    <span class="hours how-countdown">04</span> :
                                    <span class="minutes how-countdown">18</span> :
                                    <span class="seconds how-countdown">59</span> 
                            </span>
                        </div>
                        <div class="coin-item style-1 gap-8 mt-20">
                            <img src="images/webp/Sports Medal.webp" style="height: 50px;width: 50px;" alt="img" class="img">
                            <div class="content">
                                <div class="title">
                                    <h3 class="mb-4 text-light"><a   class="d-flex align-items-center text-light">70 TON</a></h3>
                                    <span class="text-light">Are You Lucky?</span>
                                </div>
                                <div class="box-price text-end">
                                    <!-- <span style="background-color: #6f42c1;border-radius: 10px; width: 100px;height: 40px;font-size: x-small;font-weight:bold ;" class="text-light btn"><a class="btn" data-toggle="modal" data-target="#exampleModalCenter">Participate</a></span> -->
                                    <a style="height:40px;width: 100px;font-size: 13px;background-color: #6f42c1;border-radius: 10px;"  class="tf-btn" data-toggle="modal" data-target="#exampleModalCenter" >Participate</a>                               
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div style="border: 3px solid #45AEF5;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(69, 174, 245, 0.295), 0 6px 20px 0 rgba(69, 174, 245, 0.19);background-image: url(images/banner/Firefly\ 20241016035503\ -\ Copy.png);background-repeat: no-repeat;background-position: center;font-weight:900;" class="accent-box bg-menuDark mt-8 ">
                        <div class="text-small d-flex justify-content-between">
                            <p class="text-light">GRAND PRIZE</p>
                            <span style="font-size: small;"   class="d-flex align-items-center gap-4 text-light grand">
                                <i style="font-weight:bolder ;" class="icon-clock fs-24"></i>
                                     <span class="days how-countdown">01</span> :
                                    <span class="hours how-countdown">04</span> :
                                    <span class="minutes how-countdown">18</span> :
                                    <span class="seconds how-countdown">59</span> 
                            </span>
                        </div>
                        <div  class="coin-item style-1 gap-8 mt-20">
                            <img src="images/webp/Trophy.webp" style="height: 50px;width: 50px;" alt="img" class="img">
                            <div class="content">
                                <div class="title">
                                    <h3 class="mb-4 text-light"><a href="#" class="d-flex align-items-center text-light">100 TON</a></h3>
                                    <span class="text-light">Buy Anything</span>
                                </div>
                                <div class="box-price text-end ">
                                    <a style="height:40px;width: 100px;font-size: 13px;background-color: #fd7e14;border-radius: 10px;margin-top: 20px;"  class="tf-btn" data-toggle="modal" data-target="#exampleModalCenter" >Participate</a>                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-radius: 15px;margin-right: 3px;margin-left: 3px;" class="bg-menuDark tf-container">
            <div class="pt-12 pb-12 mt-4">
                <div class="wrap-filter-swiper">
                    <h5 ><a href="cryptex-rating.html" class="cryptex-rating"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
                      </svg>TO DO</a></h5> 
                    <!-- <div class="swiper swiper-wrapper-r market-swiper" data-space-between="20" data-preview="auto"> -->
                    <!-- </div> -->
                </div>
                <div style="border-radius: 15px;margin-right: 3px;margin-left: 3px" class="tab-content mt-8">
                    <div class="tab-pane fade show active" id="favorites" role="tabpanel">
                        <ul class="mt-16">
                            <li >
                                <a href="#" class="coin-item style-2 gap-12">
                                    <img src="images/coin/telegram.png" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <span>
                                                <p class="mb-4 text-button">Join our Community</p>
                                                <span class="text-secondary">$300</span>
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span >
                                                <svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                                  </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-16">
                                <a href="#" class="coin-item style-2 gap-12">
                                    <img src="images/coin/instagram.png" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">Follow our Instagram</p>
                                            <span class="text-secondary">$100</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span >
                                                <svg style="color: #39CC83;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                                    <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                                                  </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-16">
                                <a href="#" class="coin-item style-2 gap-12">
                                    <img src="images/coin/twitter.png" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">Join our X</p>
                                            <span class="text-secondary">$300</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span >
                                                <svg style="color: #39CC83;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                                    <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                                                  </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li style="margin-bottom: 5rem;" class="mt-16">
                                <a href="#" class="coin-item style-2 gap-12">
                                    <img src="images/coin/youtube.png" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">Join our YouTube</p>
                                            <span class="text-secondary">$500</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span >
                                                <svg style="color: #39CC83;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                                    <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                                                  </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>                            
                        </ul>  
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
   <BeeDraw.Components.Element.NavigationBar.NavigationBar/>
        <!-- noti popup -->
    <script>
        $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
    </script>
     <!-- chance popup -->
     <div class="modal fade modalCenter action-sheet" id="exampleModalCenter" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="diolog">
           <div class="modal-content modal-sm">
              <div class="p-16 line-bt text-center">
                <main class="ticket-system">
                    <div class="top"></div>
                    <h6 style="color: #42AEF5; margin-bottom: 20px;font-weight: 500;font-size: 19px;" class="">Wait a second, your ticket is being printed</h6>
                    <div class="printer">
                    </div>
                    <div class="receipts-wrapper">
                       <div class="receipts">
                          <div class="receipt">
                             
                             <!-- <div style="margin-top: -10px;max-width: fit-content;margin-left: auto;margin-right: auto;" class="route">
                               
                               <img src="images/webp/Confetti Ball.webp" style="height: 70px;width: 70px;" alt="">
                                
                             </div> -->
                             <div style="margin-top: 8px;" class="details ">
                                <div class="item">
                                   <span>Price Per Ticket :</span>
                                   <h3 style="color: #212529;margin-top: -2px;">0.1 TON <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                                    <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0"/>
                                    <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z"/>
                                  </svg></h3>
                                </div>
                                <div class="item">
                                   <span>Participants :</span>
                                   <h3 style="color: #212529;margin-top: -2px;">69 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                                  </svg></h3>
                                </div>
                                <div  class="item ">
                                    <span><i style="color: #212529;" class="bi bi-clock-history"></i>Time Left :</span>
                                    <h3 style="color: #212529;margin-top: -2px;">02:56:32 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                      </svg></h3>
                                 </div>
                                 <div class="item">
                                    <img src="images/webp/Currency Exchange.webp" style="height: 60px;width: 60px;" alt="">
                                 </div>
                                
                                
                             </div>
                          </div>
                          <div class="receipt qr-code">
                             <img src="images/coin/ton-coin.png" style="height: 30px;width: 30px;" alt="">
                             <div  class="description">
                                   
                                <h4 style="color: #212529;margin-left: -15px;font-size: 15px;">5 TON</h4>
                                
                          </div>
                             <div class="d-flex ">
                               
                              <div style="margin-left: 15px;" class='ctrl'>
                                 <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                 <div class='ctrl__counter'>
                                   <input class='ctrl__counter-input' maxlength='10' type='text' value='0'>
                                   <div class='ctrl__counter-num'>0</div>
                                 </div>
                                 <div class='ctrl__button ctrl__button--increment'>+</div>
                               </div>
                             </div>
                            
                          </div>
                       </div>
                    </div>
                 </main>
              </div>
              <div class="grid-2">
                 <a href="#" class="line-r text-center text-button fw-6 p-10 text-secondary btn-hide-modal" data-dismiss="modal" >Cancel</a>
                 <a href="https://www.google.com" class="text-center text-button fw-6 p-10 text-primary btn-hide-modal"  data-toggle="modal" > Purchase</a> 
              </div>
           </div>
        </div>
    </div>