@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
    <!-- font -->
    <link rel="stylesheet" href="fonts/fonts.css">
    <!-- Icons -->
    <link rel="stylesheet" href="/Bot/fonts/font-icons.css">
    <link rel="stylesheet" href="/Bot/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Bot/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/Bot/css/styles.css" />
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png" />
    <style>
        .ticket-system {
            min-width: 250px;
            min-height: 314px;
        }

            .ticket-system .top {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

                .ticket-system .top .title {
                    font-weight: normal;
                    font-size: 18px;
                    text-align: center;
                    margin-left: 20px;
                    color: #fff;
                }

                .ticket-system .top .printer {
                    width: 90%;
                    height: 20px;
                    border: 5px solid #fff;
                    border-radius: 10px;
                    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
                }

            .ticket-system .receipts-wrapper {
                overflow: hidden;
                margin-top: -10px;
                padding-bottom: 10px;
            }

            .ticket-system .receipts {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                transform: translateY(-410px); /* Adjusting for new height */
                animation-duration: 2.5s;
                animation-name: print;
                animation-fill-mode: forwards;
            }

                .ticket-system .receipts .receipt {
                    padding: 15px 20px; /* Reduce padding for smaller size */
                    text-align: left;
                    min-height: 150px; /* Adjust the height */
                    width: 88%;
                    min-width: 248px;
                    background-color: #fff;
                    border-radius: 10px 10px 20px 20px;
                    box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
                }

                    .ticket-system .receipts .receipt .airliner-logo {
                        max-width: 80px;
                    }

                    .ticket-system .receipts .receipt .route {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 30px 0;
                    }

                        .ticket-system .receipts .receipt .route .plane-icon {
                            width: 30px;
                            height: 30px;
                            transform: rotate(90deg);
                        }

                        .ticket-system .receipts .receipt .route h2 {
                            font-weight: 300;
                            font-size: 2.2em;
                            margin: 0;
                        }

                    .ticket-system .receipts .receipt .details {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }

                        .ticket-system .receipts .receipt .details .item {
                            display: flex;
                            flex-direction: column;
                            min-width: 70px;
                        }

                            .ticket-system .receipts .receipt .details .item span {
                                font-size: 12px;
                                color: rgba(28, 28, 28, 0.7);
                                font-weight: 600;
                            }

                            .ticket-system .receipts .receipt .details .item h3 {
                                margin-top: 10px;
                                font-size: 18px;
                                margin-bottom: 10px;
                            }

                    .ticket-system .receipts .receipt.qr-code {
                        height: 70px;
                        min-width: 248px;
                        min-height: unset;
                        position: relative;
                        border-radius: 20px 20px 10px 10px;
                        display: flex;
                        align-items: center;
                    }

                        .ticket-system .receipts .receipt.qr-code::before {
                            content: "";
                            background: linear-gradient(to right, #fff 50%, #212529 50%);
                            background-size: 22px 4px, 100% 4px;
                            height: 4px;
                            width: 90%;
                            display: block;
                            left: 0;
                            right: 0;
                            top: -1px;
                            position: absolute;
                            margin: auto;
                        }

                        .ticket-system .receipts .receipt.qr-code .qr {
                            width: 35px;
                            height: 35px;
                        }

                        .ticket-system .receipts .receipt.qr-code .description {
                            margin-left: 20px;
                        }

                            .ticket-system .receipts .receipt.qr-code .description h2 {
                                margin: 0 0 5px 0;
                                font-weight: 500;
                            }

                            .ticket-system .receipts .receipt.qr-code .description p {
                                margin: 0;
                                font-weight: 400;
                            }

        @@keyframes print {
            0% {
                transform: translateY(-314px)
            }

            35% {
                transform: translateY(-248px);
            }

            70% {
                transform: translateY(-66px);
            }

            100% {
                transform: translateY(0);
            }
        }
    </style>
</head>

<body>
    @Body

    @*scripts*@
    <script src="/Bot/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/Bot/js/popper.min.js"></script>
    <script src="/Bot/js/boot/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Bot/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Bot/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Bot/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/Bot/js/carousel.js"></script>
    <script type="text/javascript" src="/Bot/js/apexcharts.js"></script>
    <script type="text/javascript" src="/Bot/js/chart.bundle.min.js"></script>
    <script type="text/javascript" src="/Bot/js/line-chart.js"></script>

    <script type="text/javascript" src="/Bot/js/main.js"></script>
    <script type="text/javascript" src="/Bot/js/countdowntime/countdowntime.js"></script>
    <script type="text/javascript" src="/Bot/js/countdowntime/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="/Bot/js/countdowntime/moment-timezone.min.js"></script>
    <script type="text/javascript" src="/Bot/js/countdowntime/moment.min.js"></script>
    <script>

        $('.weekly').countdown100({
            // Set Endtime here
            // Endtime must be > current time
            endtimeYear: 0,
            endtimeMonth: 0,
            endtimeDate: 1,
            endtimeHours: 18,
            endtimeMinutes: 0,
            endtimeSeconds: 0,
            timeZone: ""
            // ex:  timeZone: "America/New_York", can be empty
            // go to " http://momentjs.com/timezone/ " to get timezone
        });


    </script>
    <script>

        $('.monthly').countdown100({
            // Set Endtime here
            // Endtime must be > current time
            endtimeYear: 0,
            endtimeMonth: 0,
            endtimeDate: 5,
            endtimeHours: 4,
            endtimeMinutes: 0,
            endtimeSeconds: 0,
            timeZone: ""
            // ex:  timeZone: "America/New_York", can be empty
            // go to " http://momentjs.com/timezone/ " to get timezone
        });


    </script>
    <script>

        $('.grand').countdown100({
            // Set Endtime here
            // Endtime must be > current time
            endtimeYear: 0,
            endtimeMonth: 0,
            endtimeDate: 9,
            endtimeHours: 12,
            endtimeMinutes: 0,
            endtimeSeconds: 0,
            timeZone: ""
            // ex:  timeZone: "America/New_York", can be empty
            // go to " http://momentjs.com/timezone/ " to get timezone
        });


    </script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
