@page "/admin"
@using BeeDraw.Components.Layout
@layout AdminLayout
<nav class="left">
    <a>
        <i>home</i>
        <div>Home</div>
    </a>
    <a>
        <i>casino</i>
        <div>Lottories</div>
    </a>
    <a>
        <i>person</i>
        <div>Users</div>
    </a>
    <a>
        <i>account_balance_wallet</i>
        <div>Wallets</div>
    </a>
</nav>
<main >
    <div class="row scroll">
        <article class="no-padding border">
            <img class="responsive medium" src="/Bot/images/banner/Firefly 20241016033807.png">
            <div class="absolute bottom left right padding bottom-shadow white-text">
                <nav>
                    <h5>Title</h5>
                    <div class="max"></div>
                    <button class="circle transparent">
                        <i>more_vert</i>
                    </button>
                </nav>
            </div>
        </article>   
        <article class="no-padding border">
            <img class="responsive medium" src="/Bot/images/banner/Firefly 20241016033807.png">
            <div class="absolute bottom left right padding bottom-shadow white-text">
                <nav>
                    <h5>Title</h5>
                    <div class="max"></div>
                    <button class="circle transparent">
                        <i>more_vert</i>
                    </button>
                </nav>
            </div>
        </article>     
        <article class="no-padding border">
            <img class="responsive medium" src="/Bot/images/banner/Firefly 20241016033807.png">
            <div class="absolute bottom left right padding bottom-shadow white-text">
                <nav>
                    <h5>Title</h5>
                    <div class="max"></div>
                    <button class="circle transparent">
                        <i>more_vert</i>
                    </button>
                </nav>
            </div>
        </article>
    </div>
    <div class="grid">
        <div class="s12 m6 l3">
            <article class="round">
                <div class="row">
                    <img class="circle large" src="/beer-and-woman.svg">
                    <div class="max">
                        <h5>Title</h5>
                        <p>Some text here</p>
                    </div>
                </div>
                <nav>
                    <button class=" light-green10">
                        <i>person_add</i>
                        <span>Add User</span>
                    </button>
                    <button >
                        <i>manage_accounts</i>
                        <span>Manage Users</span>
                    </button>
                </nav>
            </article>
        </div>
        <div class="s12 m6 l3">
            <article class="round">
                <div class="row">
                    <img class="circle large" src="/beer-and-woman.svg">
                    <div class="max">
                        <h5>Title</h5>
                        <p>Some text here</p>
                    </div>
                </div>
                <nav>
                    <button>Button</button>
                </nav>
            </article>
        </div>
        <div class="s12 m6 l3">
            <article class="round">
                <div class="row">
                    <img class="circle large" src="/beer-and-woman.svg">
                    <div class="max">
                        <h5>Title</h5>
                        <p>Some text here</p>
                    </div>
                </div>
                <nav>
                    <button>Button</button>
                </nav>
            </article>
        </div>
        <div class="s12 m6 l3">
            <article class="round">
                <div class="row">
                    <img class="circle large" src="/beer-and-woman.svg">
                    <div class="max">
                        <h5>Title</h5>
                        <p>Some text here</p>
                    </div>
                </div>
                <nav>
                    <button>Button</button>
                </nav>
            </article>
        </div>
    </div>
</main>