<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin"><img src="/favicon.png" style="width:40px;"  /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/lottery">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user">Lotteries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/wallet">Wallets</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr />
<hr />
<hr />
<hr />