@page "/friends"

<div class="pt-45 pb-16">
    <div class="tf-container">
        <div class="banner-reset position-relative text-center mt-60">
            <img src="images/webp/Incoming Envelope.webp" alt="img">
            <svg class="blur" xmlns="http://www.w3.org/2000/svg" width="350" height="301" viewBox="0 0 350 301" fill="none">
                <g opacity="0.8" filter="url(#filter0_f_1_1698)">
                    <path d="M226.051 150.5C160.067 200.368 203.683 200.368 176.092 200.368C148.5 200.368 201.857 210.404 126.133 150.5C50.4085 90.5959 148.5 100.632 176.092 100.632C203.683 100.632 292.034 100.632 226.051 150.5Z" fill="url(#paint0_linear_1_1698)" />
                </g>
                <defs>
                    <filter id="filter0_f_1_1698" x="0" y="0" width="352" height="301" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_1_1698" />
                    </filter>
                    <linearGradient id="paint0_linear_1_1698" x1="231" y1="100" x2="168.923" y2="225.964" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#E250E5" />
                        <stop offset="1" stop-color="#4B50E6" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <form action="#" class="mt-60 mb-16">
            <h2 class="mt-60 text-center">Invite Friends to Get Access</h2>
            <button class="mt-40">Invite Friends</button>
            <fieldset class="mt-40">
                <label class="label-ip">
                    <p class="mb-8 text-small">Invited Friends : 2</p>
                    <ul class="mt-16">
                        <li>
                            <a href="#" class="coin-item style-2 gap-12">
                                <img src="images/avt/prof.png" style="border-radius: 50%;" alt="img" class="img">
                                <div class="content">
                                    <div class="title">
                                        <p class="mb-4 text-large">محمد حسین</p>
                                        <span class="text-secondary text-small">@@alizadeh_ai</span>
                                    </div>
                                    <span class="text-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                                            <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0" />
                                            <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708" />
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="mt-16">
                            <a href="#" class="coin-item style-2 gap-12">
                                <img src="images/avt/prof03.jpg" style="border-radius: 50%;" alt="img" class="img">
                                <div class="content">
                                    <div class="title">
                                        <p class="mb-4 text-large">Adnan Abdol</p>
                                        <span class="text-secondary text-small">@@adni</span>
                                    </div>
                                    <span class="text-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                                            <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0" />
                                            <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708" />
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </label>
            </fieldset>
        </form>
    </div>
</div>

<BeeDraw.Components.Element.NavigationBar.NavigationBar></BeeDraw.Components.Element.NavigationBar.NavigationBar>
    @code {

}
