@page "/history"


<div class="header-style2 fixed-top d-flex align-items-center justify-content-between bg-surface">

    <div class="pt-3 pb-120 fixed-top">

        <div class="tf-container">
            <h4 style="margin-bottom: 10px;color: #45AEF5;" class="title text-center">History<img style="height: 30px;width: 30px;margin-left: 3px;" src="images/webp/Admission Tickets.webp"></h4>
            <div class="tf-tab">
                <div class="tab-slide trade-tab">
                    <ul class="nav nav-tabs wallet-tabs" role="tablist">
                        <li class="item-slide-effect"></li>
                        <li class="nav-item active" role="presentation">
                            <button style="font-size: 14px;font-weight: 400;" class="nav-link active" data-bs-toggle="tab" data-bs-target="#link">Purchased Tickets</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button style="font-size: 14px;font-weight: 400;" class="nav-link" data-bs-toggle="tab" data-bs-target="#order">Last Winners</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content pt-16 pb-16">
                    <div class="tab-pane fade active show" id="link" role="tabpanel">
                        <div class="tab-content pt-16 pb-16">
                            <div class="tab-pane fade active show" id="link" role="tabpanel">
                                <ul class="">
                                    <li class="">
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-menuDark">
                                            <img src="images/coin/coin-1.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large" style="color: #45AEF5;">lottery #38743</p>
                                                    <span class="text-secondary">Weekly </span>
                                                </div>
                                                <div class="box-price">
                                                    <p class="text-small mb-4 float-end" style="color: #198754;"> You Won</p>
                                                    <p class="text-end">Lottery Count : 5</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mt-8">
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-menuDark">
                                            <img src="images/coin/coin-2.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large" style="color: #fd7e14;">lottery #58723</p>
                                                    <span class="text-secondary">Monthly</span>
                                                </div>
                                                <div class="box-price">
                                                    <p class="text-small mb-4 float-end" style="color: #6c757d;"> Missed out</p>
                                                    <p class="text-end">Lottery Count : 13</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mt-8">
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-menuDark">
                                            <img src="images/coin/coin-3.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large" style="color: #6f42c1;">lottery #95323</p>

                                                    <span class="text-secondary">Monthly</span>
                                                </div>
                                                <div class="box-price">
                                                    <div class="box-price">
                                                        <p class="text-small mb-4 float-end" style="color: #6c757d;"> Missed out</p>
                                                        <p class="text-end">Lottery Count : 13</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mt-8">
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-menuDark">
                                            <img src="images/coin/coin-4.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large" style="color: #6c757d;">lottery #95323</p>

                                                    <span class="text-secondary">Weekly</span>
                                                </div>
                                                <div class="box-price">
                                                    <div class="box-price">
                                                        <p class="text-small mb-4 float-end" style="color: #6c757d;"> Missed out</p>
                                                        <p class="text-end">Lottery Count : 13</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="market" role="tabpanel">
                                <ul>
                                    <li>
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-surface">
                                            <img src="images/coin/coin-1.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large">Bitcoin</p>
                                                    <span class="text-secondary">11:34 AM</span>
                                                </div>
                                                <div class="box-price">
                                                    <p class="text-small mb-4"><span class="text-primary">+</span> BTC 0.0056</p>
                                                    <p class="text-end"><span class="text-red">-</span> $950.50</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mt-8">
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-surface">
                                            <img src="images/coin/coin-2.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large">Withdraw</p>
                                                    <span class="text-secondary">1:12 PM</span>
                                                </div>

                                                <p class="text-small"><span class="text-red">-</span> 2,700.00</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mt-8">
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-surface">
                                            <img src="images/coin/coin-3.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large">Ethereum</p>
                                                    <span class="text-secondary">12:00 AM</span>
                                                </div>
                                                <div class="box-price">
                                                    <p class="text-small mb-4"><span class="text-primary">+</span> ETH 1,498</p>
                                                    <p class="text-end"><span class="text-red">-</span> $12948,68</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mt-8">
                                        <a href="choose-payment.html" class="coin-item style-1 gap-12 bg-surface">
                                            <img src="images/coin/coin-4.jpg" alt="img" class="img">
                                            <div class="content">
                                                <div class="title">
                                                    <p class="mb-4 text-large">Anchor</p>
                                                    <span class="text-secondary">12:00 AM</span>
                                                </div>
                                                <div class="box-price">
                                                    <p class="text-small mb-4"><span class="text-primary">+</span> ETH 1,498</p>
                                                    <p class="text-end"><span class="text-red">-</span> $12948,68</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="order" role="tabpanel">
                        <div class="trade-box"></div>
                        <div class="tf-container ">
                            <h5 class="mt-12">Winners<img style="height: 30px;width: 30px;margin-left: 5px;" src="images/webp/Military Medal.webp"></h5>
                            <ul class="mt-16">
                                <li>
                                    <a href="#" class="coin-item style-2 gap-12">
                                        <img src="images/avt/prof.png" style="border-radius: 50%;" alt="img" class="img">
                                        <div class="content">
                                            <div class="title">
                                                <p class="mb-4 text-large">محمد حسین</p>
                                                <span class="text-secondary text-small">@@alizadeh_ai</span>
                                            </div>
                                            <span class="text-small">$20</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="mt-16">
                                    <a href="#" class="coin-item style-2 gap-12">
                                        <img src="images/avt/prof03.jpg" style="border-radius: 50%;" alt="img" class="img">
                                        <div class="content">
                                            <div class="title">
                                                <p class="mb-4 text-large">Adnan Abdol</p>
                                                <span class="text-secondary text-small">@@adni</span>
                                            </div>
                                            <span class="text-small">$50 TON</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="mt-16">
                                    <a href="#" class="coin-item style-2 gap-12">
                                        <img src="images/avt/prof04.jpg" style="border-radius: 50%;" alt="img" class="img">
                                        <div class="content">
                                            <div class="title">
                                                <p class="mb-4 text-large">Ali</p>
                                                <span class="text-secondary text-small">@@ali.bahoush</span>
                                            </div>
                                            <span class="text-small">$27 TON</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="mt-16">
                                    <a href="#" class="coin-item style-2 gap-12">
                                        <img src="images/avt/prof02.jpg" style="border-radius: 50%;" alt="img" class="img">
                                        <div class="content">
                                            <div class="title">
                                                <p class="mb-4 text-large">Mohammad mehdi</p>
                                                <span class="text-secondary text-small">@@mmd</span>
                                            </div>
                                            <span class="text-small">$69 TON</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="mt-16">
                                    <a href="#" class="coin-item style-2 gap-12">
                                        <img src="images/coin/coin-9.jpg" alt="img" class="img">
                                        <div class="content">
                                            <div class="title">
                                                <p class="mb-4 text-large">Moz</p>
                                                <span class="text-secondary text-small">@@banana</span>
                                            </div>
                                            <span class="text-small">$29.5 TON</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<BeeDraw.Components.Element.NavigationBar.NavigationBar></BeeDraw.Components.Element.NavigationBar.NavigationBar>

@code {

}
